<!DOCTYPE html>
<html>
  <head>
    <title>Topro32555</title>
    <html lang="ja">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= yield %>
    <footer class="bg-light py-5">
      <div class="container"><div class="small text-center text-muted">Copyright © 2021 - TOPRO</div></div>
    </footer>
  </body>
</html>
